.confirm-delete-card {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  color: white;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

mat-card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

mat-card-content p {
  font-size: 16px;
  margin-bottom: 20px;
}
