@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//SnackBar
.mat-mdc-snack-bar-label{
  background-color: #7b1fa2;
}

.custom-snackbar {
  .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    border-radius: 8px !important;
  }

  .mat-mdc-button.mat-mdc-snack-bar-action {
    color: white !important;
  }
}

.snackbar-success {
  .mdc-snackbar__surface {
    background-color: var(--color-primary) !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

.snackbar-error {
  .mdc-snackbar__surface {
    background-color: red !important;
  }

  .mdc-snackbar__label {
    color: white !important;
  }
}

