<div class="flex flex-col items-center justify-center h-screen bg-gray-100 p-4">
  <h1 class="text-5xl font-bold text-blue-800 mb-6">{{"menu.greetings" | translate}}</h1>
  <p class="text-lg text-gray-700 mb-8">{{"menu.information" | translate}}</p>

  <!-- Cards Section -->
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
    <!-- Actions Card -->
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow transform hover:-translate-y-2">
      <h2 class="text-2xl font-semibold mb-4 text-blue-700">{{"menu.actions" | translate}}</h2>
      <p class="text-gray-600">{{"menu.actions.description" | translate}}</p>
    </div>

    <!-- Brigades Card -->
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow transform hover:-translate-y-2">
      <h2 class="text-2xl font-semibold mb-4 text-blue-700">{{"menu.brigades" | translate}}</h2>
      <p class="text-gray-600">{{"menu.brigades.description" | translate}}</p>
    </div>

    <!-- Brigade Rescuers Card -->
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow transform hover:-translate-y-2">
      <h2 class="text-2xl font-semibold mb-4 text-blue-700">{{"menu.brigadeRescuers" | translate}}</h2>
      <p class="text-gray-600">{{"menu.brigadeRescuers.description" | translate}}</p>
    </div>

    <!-- Contacts Card -->
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow transform hover:-translate-y-2">
      <h2 class="text-2xl font-semibold mb-4 text-blue-700">{{"menu.contacts" | translate}}</h2>
      <p class="text-gray-600">{{"menu.contacts.description" | translate}}</p>
    </div>

    <!-- Diagnoses Card -->
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow transform hover:-translate-y-2">
      <h2 class="text-2xl font-semibold mb-4 text-blue-700">{{"menu.diagnoses" | translate}}</h2>
      <p class="text-gray-600">{{"menu.diagnoses.description" | translate}}</p>
    </div>

    <!-- Victims Card -->
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow transform hover:-translate-y-2">
      <h2 class="text-2xl font-semibold mb-4 text-blue-700">{{"menu.victims" | translate}}</h2>
      <p class="text-gray-600">{{"menu.victims.description" | translate}}</p>
    </div>
  </div>
</div>
